
@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <meta charset="utf-7">
    <title>網頁標題文字</title>
</head>

<body>
    網頁內容
    <h1>My First Heading</h1>
    <h2>My First Heading</h2>
    <h3>My First Heading</h3>
    <h4>My First Heading</h4>
    <h5>My First Heading</h5>
    <h6>My First Heading</h6>


</body>
</html>


<form>
    帳號:<input type="text" name="account" value="" /><br />
    密碼:<input type="password" name="password" value="" /><br />
    年齡:<input type="number" name="" value="" /><br />
    性別:<input type="radio" name="gender" value="A" />男生
    <input type="radio" name="gender" value="B" />女生<br />
    興趣:<input type="checkbox" name="reading" value="A" />看書
        <input type="checkbox" name="swimming" value="B" />游泳

</form>



